:root {
    --background-primary-button-color: #f4f4f4;
    --background-secondary-button-color: #E5E7EB;
    --background-dark-button-color: #9ca3af;
    --text-color: #333333;
}
        body {
            height: 100vh;
        }

        @media (max-width: 768px) {
            .hide-on-mobile {
                 display: none;
            }
        }
