        body {
            font-family: Arial, sans-serif;
            background-color: var(--background-primary-button-color);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 75%;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        .file-upload {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .file-upload input[type="file"] {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }

        .custom-file-upload {
            background-color: var(--background-secondary-button-color);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 150px;
            text-align: center;
            display: inline-block;
        }

        .custom-file-upload:hover {
            background-color: var(--background-dark-button-color);
        }

        .file-name {
            margin-left: 10px;
            font-size: 14px;
            color: #555;
            flex-grow: 1;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #f9f9f9;
            height: 38px;
            display: flex;
            align-items: center;
        }

        .submit-button button {
            background-color: var(--background-secondary-button-color);
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            width: 100%;
        }

        .submit-button button:hover {
            background-color: var(--background-dark-button-color);
        }

        #message {
            margin-top: 20px;
            color: red;
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li a {
            color: #333;
            text-decoration: none;
        }

        ul li a:hover {
            text-decoration: underline;
        }

        #file {
            display: none;
        }

        table td {
            text-align: left; /* Wyrównanie tekstu do lewej strony */
        }