<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zmiana Hasła</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<div class="w-full max-w-md">
  <!-- W formularzu, po nagłówku -->
  <div th:if="${error}" class="bg-red-100 text-red-700 p-2 rounded mb-4">
    <p th:text="${error}"></p>
  </div>

  <div th:if="${success}" class="bg-green-100 text-green-700 p-2 rounded mb-4">
    <p th:text="${success}"></p>
  </div>
  <form th:action="@{/change-password}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Zmień swoje hasło</h2>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Adres Email
      </label>
      <input
              id="email"
              name="email"
              type="email"
              th:value="${email}"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              readonly>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Nowe Hasło
      </label>
      <input
              id="password"
              name="password"
              type="password"
              placeholder="Wprowadź nowe hasło"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
        Potwierdź Nowe Hasło
      </label>
      <input
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              placeholder="Potwierdź nowe hasło"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Zmień Hasło
      </button>
    </div>
  </form>
</div>
</body>
</html>
