<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zmiana Hasła</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .toggle-btn {
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 10px;
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<div class="w-full max-w-md">

    <form th:action="@{/change-password}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Zmień swoje hasło</h2>

        <div th:if="${error}" class="mb-4 rounded-md bg-red-50 p-4 flex items-center">
            <svg class="h-6 w-6 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
                      clip-rule="evenodd"/>
            </svg>
            <p class="ml-3 text-sm font-medium text-red-800" th:text="${error}"></p>
        </div>

        <div th:if="${success}" class="mb-4 rounded-md bg-green-50 p-4 flex items-center">
            <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"/>
            </svg>
            <p class="ml-3 text-sm font-medium text-green-800" th:text="${success}"></p>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Adres Email
            </label>
            <input
                    id="email"
                    name="email"
                    type="email"
                    th:value="${email}"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    readonly>
        </div>

        <!-- Pole Nowe Hasło -->
        <div class="mb-4 relative">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Nowe Hasło
            </label>
            <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Wprowadź nowe hasło"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    oninput="checkPasswordStrength()">
            <button type="button" onclick="togglePassword('password')"
                    class="absolute inset-y-10 right-0 pr-3 flex items-center text-sm leading-5">
                <svg id="eye-icon" class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.733 2.211-2.43 4.085-4.733 5.099M15 12a9.364 9.364 0 00-3 2.4"/>
                </svg>
            </button>
            <div id="password-strength" class="text-sm"></div>
        </div>

        <!-- Pole Potwierdź Hasło -->
        <div class="mb-6 relative">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
                Potwierdź Nowe Hasło
            </label>
            <input
                    id="confirmPassword"
                    name="confirmPassword"
                    type="password"
                    placeholder="Potwierdź nowe hasło"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            <button type="button" onclick="togglePassword('confirmPassword')"
                    class="absolute inset-y-10 right-0 pr-3 flex items-center text-sm leading-5">
                <svg id="eye-icon" class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.733 2.211-2.43 4.085-4.733 5.099M15 12a9.364 9.364 0 00-3 2.4"/>
                </svg>
            </button>
        </div>

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                Zmień Hasło
            </button>
        </div>
    </form>
</div>

<script>
function checkPasswordStrength() {
    const password = document.getElementById('password').value;
    const strengthElement = document.getElementById('password-strength');
    let strength = 'Słabe - nie akceptowalne';
    let strengthColor = 'text-red-500';  // Czerwony dla słabych haseł

    if (password.length > 4 && /[A-Z]/.test(password) && /\d/.test(password) && /[!@#$%^&*(),.?":{}|<>]/.test(password)) {
        strength = 'Silne';
        strengthColor = 'text-green-500';  // Zielony dla silnych haseł
    } else if (password.length > 6 && /[A-Z]/.test(password) && /\d/.test(password)) {
        strength = 'Średnie';
        strengthColor = 'text-yellow-500';  // Żółty dla średnich haseł
    }

    strengthElement.textContent = `Siła hasła: ${strength}`;
    strengthElement.className = `mt-1 text-sm ${strengthColor}`;
}

function togglePassword(fieldId) {
  var field = document.getElementById(fieldId);
  const eyeIcon = document.getElementById('eye-icon');
  var fieldType = field.getAttribute('type');
  if (fieldType === 'password') {
    field.setAttribute('type', 'text');
    eyeIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825a10.35 10.35 0 003.432-5.49C16.748 10.958 14.15 9 12 9c-2.15 0-4.748 1.958-5.307 4.335a10.35 10.35 0 003.432 5.49M9 12a3 3 0 006 0 3 3 0 00-6 0z" />';
  } else {
    field.setAttribute('type', 'password');
    eyeIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.733 2.211-2.43 4.085-4.733 5.099M15 12a9.364 9.364 0 00-3 2.4"/>';
  }
}
</script>
</body>
</html>
