<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista plików</title>
    <link href="/css/tailwind-built.css" rel="stylesheet">
    <link href="/css/common-color.css" rel="stylesheet">
    <link href="/css/file-list.css" rel="stylesheet">
</head>
<body>
<h1>Dostępne pliki</h1>
<div class="file-list-container">
    <table class="min-w-full border border-gray-200">
        <thead class="bg-gray-100">
        <tr>
            <th class="border px-4 py-2 text-left">#</th>
            <th class="border px-4 py-2 text-left">File Name</th>
        </tr>
        </thead>
        <tbody id="file-list">
        <!-- Użycie poprawnej składni dla iteracji -->
        <tr th:each="file, iterStat : ${files}">
            <!-- Numeracja plików -->
            <td class="border px-4 py-2">
                <span th:text="${iterStat.index + 1}"></span>
            </td>
            <!-- Nazwa pliku w jednej linii -->
            <td class="border px-4 py-2 whitespace-nowrap overflow-hidden text-ellipsis">
                <a th:href="@{/download-faster(fileName=${file})}" th:text="${file}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
