<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta content="/images/favicon.png" itemprop="image">
    <title>AI document analizer</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> <!-- dodanie marked.js -->
    <link href="/css/tailwind-built.css" rel="stylesheet">
    <link href="/css/common-color.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <!-- Include a Markdown rendering library -->
    <style>
        .markdown-body {
            background-color: #f5f5f5; /* Set background color for markdown space */
        }
    </style>
</head>
<body class="bg-gray-100">
<div class="flex h-full">
    <!-- Sidebar -->
    <section class="w-64 bg-gray-200 p-4 flex flex-col justify-between hide-on-mobile">
        <div>
            <div class="font-bold text-xl">AI analizator dok.</div>
            <div class="mt-0 text-sm text-gray-600">by Michał Sobieraj</div>
            <div id="recent-message-list" class="mt-4 font-bold text-lg">Ostatnie zapytania</div>
        </div>
        <!-- Logout Button -->
        <div class="logout mt-auto -mt-5">
            <a href="/login?logout"
               class="block text-center bg-gray-300 hover:bg-gray-400 rounded py-2 px-4 mb-2 shadow-md">
                Wyloguj się
            </a>
        </div>
    </section>
    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-4 h-full overflow-auto markdown-body rounded"></div>
        <div class="">
            <form id="chatForm"
                  class="w-full"
                  hx-post="/api/chat"
                  hx-swap="beforeend"
                  hx-target="#response-container">
                <div class="flex items-center bg-gray-200 rounded p-2 shadow-md">
    <textarea id="message" name="message"
              class="bg-slate-200 outline-none text-gray-700 rounded py-2 px-4 w-full resize-none overflow-hidden"
              placeholder="Zadaj pytanie do asystenta" rows="1"></textarea>
                    <button type="button" id="clearButton"
                            class="bg-red-300 hover:bg-red-400 text-gray-600 rounded p-2 ml-2">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                    <button type="submit" class="bg-gray-300 hover:bg-gray-400 text-gray-600 rounded p-2 ml-2">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
                        </svg>
                    </button>
                </div>

            </form>
        </div>
    </main>
    <div class="bg-gray-300 hover:bg-gray-400 menu-button text-gray-600" id="menuButton">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </div>

    <!-- Modal for the Menu -->
    <div class="modal" id="menuModal">
        <div class="modal-content">
            <div class="modal-header">Menu</div>
            <ul class="space-y-4">
                <li th:if="${user == 'ROLE_ADMIN'}">
                    <a href="/load-data" class="block text-gray-700 hover:bg-gray-300 rounded p-2">
                        Ładowanie danych
                    </a>
                </li>
                <li>
                    <a href="/register-user" class="block text-gray-700 hover:bg-gray-300 rounded p-2">
                        Zarządzanie użytkownikiem
                    </a>
                </li>
                <li th:if="${user == 'ROLE_ADMIN'}">
                    <a href="/swagger-ui/index.html" class="block text-gray-700 hover:bg-gray-300 rounded p-2">
                        Dokumentacja API
                    </a>
                </li>
                <li>
                    <a href="/login?logout" class="block text-gray-700 hover:bg-gray-300 rounded p-2">
                        Wyloguj się
                    </a>
                </li>
            </ul>
            <div class="mt-4">
                <button class="modal-close" id="closeMenuModal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
<script>
    // JavaScript to toggle the modal
    const menuButton = document.getElementById('menuButton');
    const menuModal = document.getElementById('menuModal');
    const closeMenuModal = document.getElementById('closeMenuModal');
    const clearButton = document.getElementById('clearButton');
    const messageInput = document.getElementById('message');

    document.addEventListener("htmx:afterSwap", function (event) {
    // Sprawdzanie, czy odpowiedź dotyczy elementu z id 'response-container-p'
    if (event.detail.target.id === 'response-container') {
        const responseContainer = document.getElementById('response-container-p');
        const markdownContent = responseContainer.innerText;
        const htmlContent = marked.parse(markdownContent);
        responseContainer.innerHTML = htmlContent;
    }
});

    menuButton.addEventListener('click', function () {
        menuModal.style.display = 'flex';  // Show modal
    });

    closeMenuModal.addEventListener('click', function () {
        menuModal.style.display = 'none';  // Hide modal
    });

    // Close modal when clicking outside of it
    window.addEventListener('click', function (event) {
        if (event.target === menuModal) {
            menuModal.style.display = 'none';
        }
    });

    // JavaScript to clear the message input field
    clearButton.addEventListener('click', function () {
        messageInput.value = '';  // Clear the input field
    });

    messageInput.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });
</script>
</body>
</html>
