<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <meta content="/images/favicon.png" itemprop="image">
  <title>Login page</title>
  <link href="/css/tailwind-built.css" rel="stylesheet">
  <link href="/css/common-color.css" rel="stylesheet">
</head>
<body class="h-full">
<div class="flex min-h-full flex-col justify-center items-center px-6 py-12">
  <div class="bg-white shadow-lg rounded-lg sm:max-w-md sm:w-full p-8">
    <div class="text-center">
      <img class="mx-auto h-12 w-auto" src="/images/favicon.png" alt="Sopim">
      <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Logowanie do konta</h2>
    </div>

    <div class="mt-8 space-y-6">
      <!-- Błąd logowania -->
      <div th:if="${param.error}" class="rounded-md bg-red-50 p-4 flex items-center">
        <svg class="h-6 w-6 text-red-500" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
        </svg>
        <p class="ml-3 text-sm font-medium text-red-800">Nieprawidłowa nazwa użytkownika lub hasło</p>
      </div>

      <!-- Wylogowanie -->
      <div th:if="${param.logout}" class="rounded-md bg-green-50 p-4 flex items-center">
        <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
        </svg>
        <p class="ml-3 text-sm font-medium text-green-800">Wylogowałeś się</p>
      </div>

      <!-- Formularz logowania -->
      <form class="space-y-6" th:action="@{/login}" method="POST">
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700">Nazwa użytkownika</label>
          <input id="username" name="username" type="text" required class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>

        <div class="relative">
          <label for="password" class="block text-sm font-medium text-gray-700">Hasło</label>
          <input id="password" name="password" type="password" required
                 class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <button type="button" onclick="togglePassword()" class="absolute inset-y-10 right-0 pr-3 flex items-center text-sm leading-5">
            <svg id="eye-icon" class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.733 2.211-2.43 4.085-4.733 5.099M15 12a9.364 9.364 0 00-3 2.4" />
            </svg>
          </button>
        </div>

        <div class="flex items-center justify-between">
          <a href="#" class="text-sm text-indigo-600 hover:text-indigo-500">Zapomniałeś hasła?</a>
        </div>

        <div>
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Zaloguj się</button>
        </div>
      </form>

      <!-- Przycisk logowania z Google -->
      <div class="mt-6">
        <div class="flex items-center justify-center">
          <span class="text-sm text-gray-500">lub</span>
        </div>
        <a href="#" th:href="@{/oauth2/authorization/google}" class="w-full inline-flex items-center justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 mt-4">
          <img class="h-5 w-5 mr-2" src="https://ssl.gstatic.com/images/branding/product/1x/gsa_64dp.png" alt="Google Logo">
          Logowanie przez Google
        </a>
      </div>

      <!-- Rejestracja -->
      <p class="mt-6 text-center text-sm text-gray-500">
        Nie jesteś użytkownikiem?
        <a href="/register-user" class="text-indigo-600 hover:text-indigo-500">Zarejestruj się</a>
      </p>
    </div>
  </div>
</div>
<!-- JavaScript do przełączania widoczności hasła -->
<script>
  function togglePassword() {
      const passwordInput = document.getElementById('password');
      const eyeIcon = document.getElementById('eye-icon');

      if (passwordInput.type === 'password') {
          passwordInput.type = 'text'; // Pokazuje hasło
          eyeIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825a10.35 10.35 0 003.432-5.49C16.748 10.958 14.15 9 12 9c-2.15 0-4.748 1.958-5.307 4.335a10.35 10.35 0 003.432 5.49M9 12a3 3 0 006 0 3 3 0 00-6 0z" />';
      } else {
          passwordInput.type = 'password'; // Ukrywa hasło
          eyeIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.733 2.211-2.43 4.085-4.733 5.099M15 12a9.364 9.364 0 00-3 2.4"/>';
      }
  }
</script>
</body>
</html>

