<!DOCTYPE html>
<html lang="pl" class="h-full bg-gray-50" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta content="/images/favicon.png" itemprop="image">
    <title>Login page</title>
    <link href="/css/tailwind-built.css" rel="stylesheet">
    <link href="/css/common-color.css" rel="stylesheet">
</head>
<body class="min-h-screen">
<div class="flex min-h-full flex-col justify-center items-center px-6">
    <div class="bg-white shadow-lg rounded-md sm:max-w-md sm:w-full p-8">
        <div class="text-center">
            <img class="mx-auto h-12 w-auto" src="/images/favicon.png" alt="Sopim">
            <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Logowanie do konta</h2>
        </div>

        <div class="mt-8 space-y-6">
            <!-- Błąd logowania -->
            <div th:if="${param.error}" class="rounded bg-red-50 p-4 flex items-center">
                <svg class="h-6 w-6 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
                          clip-rule="evenodd"/>
                </svg>
                <p class="ml-3 text-sm font-medium text-red-800">Nieprawidłowa nazwa użytkownika lub hasło</p>
            </div>
            <div th:if="${param.unconfirmed}" class="rounded bg-red-50 p-4 flex items-center">
                <svg class="h-6 w-6 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
                          clip-rule="evenodd"/>
                </svg>
                <p class="ml-3 text-sm font-medium text-red-800">Użytkownik nie jest znany</p>
            </div>
            <div th:if="${param.confirmed}" class="rounded bg-yellow-50 p-4 flex items-center">
                <svg class="h-6 w-6 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"/>
                </svg>
                <p class="ml-3 text-sm font-medium text-yellow-800">Użytkownik jest już zweryfikowany</p>
            </div>
            <div th:if="${param.registersuccess}" class="rounded bg-green-50 p-4 flex items-center">
                <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"/>
                </svg>
                <p class="ml-3 text-sm font-medium text-green-800">Rejestracja zakończona, możesz się logować</p>
            </div>
            <div th:if="${param.registerverification}" class="rounded bg-green-50 p-4 flex items-center">
                <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"/>
                </svg>
                <p class="ml-3 text-sm font-medium text-green-800">Twoje zgłoszenie zostało wysłane do weryfikacji</p>
            </div>
            <div th:if="${param.sendtoconfirmation}" class="rounded bg-green-50 p-4 flex items-center">
                <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"/>
                </svg>
                <p class="ml-3 text-sm font-medium text-green-800">Zgłoszenie zostało wysłane do potwierdzenia</p>
            </div>

            <form class="space-y-6" th:action="@{/login}" method="POST">
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-700">Nazwa użytkownika</label>
                    <input id="username" name="username" type="text" required
                           class="mt-1 block w-full p-2 border border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>

                <div class="relative">
                    <label for="password" class="block text-sm font-medium text-gray-700">Hasło</label>
                    <input id="password" name="password" type="password" required
                           class="mt-1 block w-full p-2 border border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <button type="button" onclick="togglePassword()"
                            class="absolute inset-y-10 right-0 pr-3 flex items-center text-sm leading-5">
                        <svg id="eye-icon" class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.733 2.211-2.43 4.085-4.733 5.099M15 12a9.364 9.364 0 00-3 2.4"/>
                        </svg>
                    </button>
                    <div id="password-strength" class="mt-2 text-sm"></div>
                </div>

                <div class="flex items-center justify-between">
                    <a href="javascript:void(0)" class="text-sm text-indigo-600 hover:text-indigo-500" onclick="showEmailField()">Zapomniałeś hasła?</a>
                </div>

                <!-- Ukryte pole e-mail, które się pojawi po kliknięciu "Zapomniałeś hasła?" -->
                <div id="forgot-password-email" class="hidden">
                    <label for="forgotEmail" class="block text-sm font-medium text-gray-700">Podaj adres email</label>
                    <input id="forgotEmail" name="email" type="email"
                           class="mt-1 block w-full p-2 border border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <button type="button" onclick="submitForgotPassword()"
                            class="mt-2 w-full flex justify-center py-2 px-4 border border-transparent rounded shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Wyślij link do zmiany hasła
                    </button>
                </div>

                <div>
                    <button type="submit"
                            class="w-full flex justify-center py-2 px-4 border border-transparent rounded shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Zaloguj się
                    </button>
                </div>
            </form>

            <div class="mt-6">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2 bg-white text-gray-500">lub</span>
                    </div>
                </div>

                <a href="/oauth2/authorization/google"
                   class="mt-6 w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <img class="h-5 w-5 mr-2" src="https://ssl.gstatic.com/images/branding/product/1x/gsa_64dp.png"
                         alt="Google Logo"> Zaloguj się przez Google
                </a>
            </div>

            <p class="mt-6 text-center text-sm text-gray-500">
                Nie masz konta? <a href="/register-user" class="font-medium text-indigo-600 hover:text-indigo-500">Zarejestruj się</a>
            </p>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script>
    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text'; // Pokazuje hasło
            eyeIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825a10.35 10.35 0 003.432-5.49C16.748 10.958 14.15 9 12 9c-2.15 0-4.748 1.958-5.307 4.335a10.35 10.35 0 003.432 5.49M9 12a3 3 0 006 0 3 3 0 00-6 0z" />';
        } else {
            passwordInput.type = 'password'; // Ukrywa hasło
            eyeIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-.733 2.211-2.43 4.085-4.733 5.099M15 12a9.364 9.364 0 00-3 2.4"/>';
        }
    }

    function showEmailField() {
        const emailField = document.getElementById('forgot-password-email');
        emailField.classList.remove('hidden'); // Pokazuje ukryte pole email
    }

    function submitForgotPassword() {
        const email = document.getElementById('forgotEmail').value;
        if (email) {
            fetch(`/reset-password?email=${email}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/login?changepasswordsuccess';
                } else {
                    window.location.href = '/login?changepassworderror';
                }
            }).catch(error => {
                window.location.href = '/login?changepassworderror';
            });
        } else {
            alert('Proszę podać adres e-mail.');
        }
    }
</script>

</body>
</html>


