<!doctype html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta content="/images/favicon.png" itemprop="image">
    <link href="/css/tailwind-built.css" rel="stylesheet">
    <link href="/css/common-color.css" rel="stylesheet">
</head>
<body>
<div th:fragment="responseFragment" class="mb-4">
    <div class="mb-4 inline-block bg-slate-200 text-gray-800 rounded p-2" th:text="${message}">Message</div>
    <p class="mt-4 h-full text-gray-800 overflow-auto" th:text="${response}">Response</p>
    <div class="text-gray-800 text-sm mb-2 text-right" th:text="'Czas oczekiwania na odpowiedź: ' + ${timeElapsed} + ' ms'">Czas oczekiwania: 0 ms</div>
</div>
</body>